<% if (message.length > 0) { %>
  <div class="alert alert-danger"><%= message %></div>
<% } %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Talent Network</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>

    <div class="jumbotron">
      <div class="container">
        <h1 id="title">Talent Network</h1>
        <p>Your talent finder!</p>
      </div>
    </div>

    <section id='user-form' class="container">
      <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <form class="form-horizontal">
          <fieldset>

            <!-- Form Name -->
            <legend>Join the <strong>Network</strong></legend>


                                    <!-- USER FIELDS -->
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="name">User Name</label>
              <div class="col-md-4">
              <input id="name" name="name" type="text" placeholder="write your name" class="form-control input-md" required="">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="email">Email</label>
              <div class="col-md-4">
              <input id="email" name="email" type="text" placeholder="your email to get discovered" class="form-control input-md">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="location">Location</label>
              <div class="col-md-4">
              <input id="location" name="location" type="text" placeholder="where are you from?" class="form-control input-md">

              </div>
            </div>







            <!-- Button for Creating Profiles-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="singlebutton">Create your Profile</label>
              <div class="col-md-4">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
              </div>
            </div>



          </fieldset>
        </form>
      </div>
      </div>
    </section>








    <!-- add talent Modal -->
    <div class="modal fade" id="addTalentButton" tabindex="-1" role="dialog" aria-labelledby="addTalentButtonLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addTalentButtonLabel">Tell us about your talent, it the only way we will know!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

                <!-- TALENT FIELDS -->

                <div class="form-group">
                  <label class="col-md-4 control-label" for="talentName" placeholder="what do you call your talent?">Talent Name</label>
                  <div class="col-md-4">
                    <input class="form-control" id="talentName" name="talentName"></input>
                  </div>
                </div>


                <div class="form-group">
                  <label class="col-md-4 control-label" for="talentImage" >Talent Image</label>
                  <div class="col-md-4">
                    <input class="form-control" id="talentImage" name="talentImage" placeholder="add the url for an image to describe your talent "></input>
                  </div>
                </div>


                <div class="form-group">
                  <label class="col-md-4 control-label" for="talentDesription">Talent Description</label>
                  <div class="col-md-4">
                    <textarea class="form-control" id="talentDesription" name="talentDesription" placeholder="tell us about your talent"></textarea>
                  </div>
                </div>



          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>







                            <!-- DISPLAYS USERS -->

    <section class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>Featured Talented People!</h2>
        </div>
      </div>
      <!-- users! -->
      <div id="users"></div>
    </section>




  </body>
</html>
