



<form id="addTalent">
  <div class="form-group">
    <label for="name">Talent Name</label>
    <input type="name" class="form-control" name="name" palceholder="Talent Name">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="Email" class="form-control" name="email" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="Description" class="form-control" name="description" placeholder="Description">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>



          






                            <!-- DISPLAYS TALENTS -->

    <section class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>Your Talents</h2>
        </div>
      </div>
      <!-- talents! -->
      <div id="talent_list">
        
      </div>  
    </section>



