.mainBody {
	height: 100%;
	width: 100%;
	background-color: #F0FFFF;
    background-size: cover;
	background-repeat: no-repeat;
}

.logo {
	font-family: 'Alfa Slab One', cursive;
	color: white; 
}

.logo:hover {
    background-color: white;
    color: #6495ED;
}

.bar {
	font-family: 'Carter One', cursive;
	color: white;
}

.bar:hover {
    background-color: white !important;
    color: #6495ED;
}


.loginInput {
	width: 200px;
}

.signupInput {
	width: 200px;
}

.signupFloat {
	float: right;
	margin:-550px 60px 200px 0px;

}

.navbar {
	background-color: #6495ED;
	font-color: white;

}

.talentInput {
	width: 200px;
}

.talentTitle {
    font-family: 'Alfa Slab One', cursive;
}

.footer-copyright {
	background-color: #6495ED;
	color:white;
	margin-top: 120px;
	text-align: center;
}

.linkToMe {
	color: white;
	text-decoration: underline;

}

.imageHome {
	background-image: url("/images/michaeljackson.gif");
    height: 300px;
	width: 100%;
	background-repeat: no-repeat;
	margin-left: 300px;
}

