.mainBody {
	height: 100%;
	width: 100%;
	background-image: url("/images/indexBackground.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.logo {
	font-family: 'Alfa Slab One', cursive;
}

.bar {
	font-family: 'Carter One', cursive;
}

.signupBody {
    height: 100%;
	width: 100%;
	background-image: url("/images/signupBackground.jpg");
	background-size: cover;
	background-repeat: no-repeat;

}

.loginInput {
	width: 200px;
}